{#
    This template is sent to user when he requests password reset
#}

{% extends '/mail/base.twig' %}

{% block contentLineOne %}

    {% set textWithLink %}

        {% include '/mail/base-components/sub-components/header.twig' with {
            text: "Password reset"
        } %}

        {% set base64SecurityImage %}
            {% include 'mail/base64-images/security.twig' %}
        {% endset %}

        {% include '/mail/base-components/sub-components/responsive-image.twig' with {
            imageSource: base64SecurityImage
        } %}

        <p style="
            {% include 'mail/base-components/inline-style/text-font-size.twig' %}
        ">
            Hello
            <b style="
                {% include 'mail/base-components/inline-style/text-font-size.twig' %}
            ">
                {{ user.getUsername() }}
            </b>,
        </p>

        <p style="
            {% include 'mail/base-components/inline-style/text-font-size.twig' %}
        ">
            You've requested the password reset. Click on the button below and we will send You the new password.
        </p>

        <br/>

        {% include '/mail/base-components/sub-components/blue-button.twig' with {
            link : link,
            text : "Reset password"
        } %}

        {% include '/mail/base-components/footer-text.twig' %}
    {% endset %}

    {% include '/mail/base-components/sub-components/text.twig' with { textContent: textWithLink } %}

{% endblock %}